name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Restore Cache
      uses: actions/cache@preview
      id: cache
      with:
        path: ~/.cache/go-build/
        key: ${{ runner.os }}

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19

    - name: install
      run: |
        GO111MODULE=off go get golang.org/x/tools/cmd/goimports
        go install honnef.co/go/tools/cmd/staticcheck@master

    - name: Test
      run: |
        make fmt && git diff --exit-code
        make imports && git diff --exit-code
        make static-check
        make test

    # run CI tests
    # start mongo
    - name: MongoDB in GitHub Actions
      uses: supercharge/mongodb-github-action@1.7.0
    
    - name: wait for mongo
      run: ci/waitnetwork.bash localhost 27017
    
    - name: start mongoproxy
      run: cd cmd/mongoproxy && make ci &

    - name: wait for mongoproxy
      run: ci/waitnetwork.bash localhost 27016

    - name: run integration tests
      run: make integrationtest
